/*-------------------------*/
/*---- CHILLI+GARLIC ------*/
/*---- Variables.scss     -*/
/*-------------------------*/

/*-------------------------*/
/*----    Global    ------*/
/*-------------------------*/

// Breakpoints

$bp-phone-sm: 325px;
$bp-phone: 500px;
$bp-tablet: 768px;
$bp-tablet-lg: 1024px;
$bp-desk: 1025px;
$bp-desk-mid: 1140px;

// Colours

$color-primary: #762627e5;
$color-secondary: #3f7c7e;

$color-spot-1: #c93e1f;
$color-spot-2: #e0a55c;

$color-greygreen: #778482;

$color-grey-light-1: #faf9f9;
$color-grey-light-2: #f4f2f2;
$color-grey-light-3: #f0eeee;

$color-grey-dark: #d0cfcf;

$color-white: #fff;
$color-black: #000;

// Fonts

$font-display: 'Josefin Slab', serif;
$font-body: 'Lato', sans-serif;
$font-body-size: 1.7rem;

/*-------------------------*/
/*----    Header     ------*/
/*-------------------------*/

$header-height: 12rem;

// Menus

$icon-border-width: 1.5px;
$menu-transition: 0.5s;
$menu-hover-color: rgba($color-spot-1, 0.1);

// Side Panel
$panel-padding: 2rem;

// Header Themes

:root {
  --color-primary: #762627;
  --color-secondary: #3f7c7e;
  --color-tertiary: #9aa6a4;

  --color-spot-1: #d85730;
  --color-spot-2: #e0a55c;

  --color-white: #fff;
  --color-black: #000;
}

[data-theme='header-home'] {
  --header-background: transparent;
  --menu-icon-circle: var(--color-white);
  --menu-icon-svg: var(--color-white);
  --menu-hover-outline: var(--color-primary);
  --menu-hover-fill: none;
  --menu-hover-svg: var(--color-white);
  --header-height: 15rem;
  --header-logo-height: 11.5rem;
  --header-background-panel: var(--color-white);

  --mobileSearch-bgCol: rgba(255, 255, 255, 0.15);
  --mobileSearch-iconCol: var(--color-white);
}

[data-theme='header-main'] {
  --header-background: var(--color-white);
  --menu-icon-circle: var(--color-black);
  --menu-icon-svg: var(--color-black);
  --menu-hover-outline: var(--color-primary);
  --menu-hover-fill: var(--color-white);
  --menu-hover-svg: var(--color-black);
  --header-height: 12.5rem;
  --header-logo-height: 10rem;
  --header-background-panel: var(--color-white);

  --mobileSearch-bgCol: var(--color-primary);
  --mobileSearch-iconCol: var(--color-white);
}

[data-theme='header-home-panel'] {
  --header-background: var(--color-white);
  --menu-icon-circle: var(--color-black);
  --menu-icon-svg: var(--color-black);
  --menu-hover-outline: var(--color-primary);
  --menu-hover-fill: var(--color-white);
  --menu-hover-svg: var(--color-black);
  --header-height: 15rem;
  --header-logo-height: 11.5rem;
}
