/*-------------------------*/
/*--   CHILLI+GARLIC     --*/
/*-    Image component   --*/
/*-------------------------*/

.image {
  &__hero {
    // Position
    grid-column: content-start / content-end;

    // Style
    width: 100%;
    object-fit: cover;
    object-position: center;
    height: 55rem;
    margin: 1rem 0;

    @media only screen and (max-width: $bp-tablet-lg) {
      grid-column: full-start / full-end;
      height: 40rem;
    }

    @media only screen and (max-width: $bp-phone) {
      height: 35rem;
    }
  }
}
