/*-------------------------*/
/*--   CHILLI+GARLIC     --*/
/*-    Image component   --*/
/*-------------------------*/

.image {
  &__hero {
    // Position
    grid-column: full-start / full-end;

    // Style
    background-size: cover;
    background-attachment: fixed;
    background-color: $color-white;
    height: 55rem;
  }
}
