/*-------------------------*/
/*--   CHILLI+GARLIC     --*/
/*-    Image component   --*/
/*-------------------------*/

.image {
  &__hero {
    // Position
    grid-column: content-start / content-end;

    // Style
    background-size: cover;
    background-position: center;
    // background-attachment: fixed;
    background-color: $color-white;
    height: 55rem;
    margin: 1rem 0;

    @media only screen and (max-width: $bp-tablet-lg) {
      grid-column: full-start / full-end;
      height: 45rem;
    }
  }
}
