/*-------------------------*/
/*--   CHILLI+GARLIC     --*/
/*-     Search.scss      --*/
/*-------------------------*/

.search {
  &__form {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 90%;
    height: 3.5rem;
    border-radius: 25px;
    background-color: $color-grey-light-1;
    border: none;
    box-shadow: 2px 2px 2.5px rgba($color-black, 0.5);
  }

  &__input {
    width: 85%;
    border: none;
    background: transparent;
    padding: 1rem 1rem;
    margin-bottom: 0.2rem;

    font-family: inherit;
    font-size: 1.6rem;
    color: inherit;
  }

  &__button {
    border: none;
    margin-bottom: -0.2rem;
    background-color: $color-grey-light-1;
  }

  &__icon {
    height: 2rem;
    width: 2rem;
    fill: $color-primary;
  }
}
