/*-------------------------*/
/*---- CHILLI+GARLIC ------*/
/*---      Footer    ------*/
/*-------------------------*/

.footer {
  // Positon
  grid-column: full-start / full-end;

  // Display
  display: grid;
  grid-template-columns: 1fr min-content 1fr;
  align-items: center;
  z-index: 100;

  // Style
  background-color: rgba($color-greygreen, 0.3);
  height: 6rem;
  margin-top: 5rem; // Standard space at the top for all pages

  &__nav {
    display: grid;
    grid-template-columns: repeat(4, min-content);
    grid-gap: 1.5rem;
    justify-content: end;
    justify-items: end;

    list-style: none;

    &__link:link,
    &__link:visited {
      display: block;

      font-family: $font-body;
      font-size: 1.4rem;
      text-transform: uppercase;
      color: $color-black;
      text-decoration: none;

      transition: all 0.5s;
    }

    &__link:active,
    &__link:hover {
      color: $color-primary;
    }
  }

  &__logo {
    justify-self: center;
    height: 4rem;
    margin: 0 2rem;
  }

  &__text {
    justify-self: flex-start;

    font-size: 1.5rem;
  }
}
