/*-------------------------*/
/*--   CHILLI+GARLIC     --*/
/*-     Header.scss      --*/
/*-------------------------*/

// Mixins

// Define common style for header icons which we can reuse later
@mixin header-icon-style {
  height: 3.5rem;
  width: 3.5rem;
  border: $icon-border-width solid var(--menu-icon-circle);
  border-radius: 25px;
}

// Classes

.header-container {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 100;
}

.header {
  // Position
  grid-column: full-start / full-end;

  // Display
  // The default grid class is applied in the html to handle columns

  align-items: center;
  height: var(--header-height);

  background-color: var(--header-background);
  z-index: 100;
  transition: all 0.5s;

  // Style
  border-bottom: 0.5px solid rgba($color-black, 0.2);
  box-shadow: 0px 1px 6px rgba($color-black, 0.1);

  // Base header icon styling
  &__icon {
    display: flex;
    justify-content: center;
    align-items: center;

    @include header-icon-style;
    cursor: pointer;

    transition: all $menu-transition;

    &__svg {
      height: 65%;
      width: 65%;
      fill: var(--menu-icon-svg);
    }

    // Hover effects for header icon if we're on desktop
    @media only screen and (min-width: $bp-desk-sm) {
      &:hover {
        border: $icon-border-width solid var(--menu-hover-outline);
        background-color: var(--menu-hover-fill);
      }
    }

    &:hover .header__icon__svg {
      fill: var(--menu-hover-svg);
    }
  }

  // Search bar
  // Starts as an 'icon' by setting the form as a circle and the input field with no width
  &__search {
    &__form {
      grid-column: content-start / span 4;
      grid-row: 1;
      justify-self: start;

      display: flex;
      justify-content: space-between;
      align-items: center;
      background: transparent;
      z-index: 10;

      opacity: 100%;
      visibility: visible;

      @include header-icon-style;

      transition: all 0.5s;

      &--hidden {
        opacity: 0%;
        visibility: hidden;
      }

      @media only screen and (max-width: $bp-tablet-med) {
        display: none;
      }
    }

    // Input field
    &__input {
      justify-self: flex-start;

      width: 0%;
      border: none;
      padding-left: 1.75rem;
      margin-bottom: 0.2rem;
      background: transparent;

      font-family: inherit;
      font-size: 1.5rem;
      color: inherit;

      opacity: 0;
      transition: opacity 2s;
    }

    &__button {
      justify-self: flex-end;

      margin-left: -1.3rem;
      padding-right: 0.5rem;
      border: none;
      background-color: transparent;
      padding-top: 0.1rem;
    }

    &__icon {
      height: 2rem;
      width: 2rem;
      fill: var(--menu-icon-svg);

      transition: all 0.25s;
    }

    // Expand search menu when either the icon (form) is hovered or
    // the input has focus (using form:focus-within)

    // On menu hover, expand circle border width to create our search form box
    &__form:hover,
    &__form:focus-within {
      background-color: var(--color-white);
      width: 25rem;
      border-color: var(--menu-hover-outline);
    }

    // On menu hover, expand the input field and increase its opacity
    &__form:hover &__input,
    &__form:focus-within &__input {
      width: 90%;
      opacity: 1;
    }

    // On menu hover, change the color of the icon
    &__form:hover &__icon,
    &__form:focus-within &__icon {
      fill: rgba($color-spot-1, 0.5);
    }

    // On menu hover, temporarily remove the back button
    &__form:hover + .header__back,
    &__form:focus-within + .header__back {
      opacity: 0;
      visibility: hidden;
    }

    // Button hover effect - increase opacity of icon color
    &__button:hover > &__icon {
      fill: rgba($color-spot-1, 1);
    }
  }

  // Back to results
  &__back {
    // Position
    grid-column: col-start 2 / span 3;
    grid-row: 1;

    display: none;
    align-items: center;
    opacity: 1;
    visibility: visible;

    transition: all 1.75s;

    &__link {
      text-decoration: none;
    }

    &__text {
      margin-left: 1rem;
      font-size: 1.5rem;
      font-weight: 400;
      opacity: 0;
      visibility: hidden;

      transition: all $menu-transition;
    }

    // Hover effect displays text
    &__link:hover + &__text {
      opacity: 1;
      visibility: visible;
    }
  }

  // Logo
  &__logo {
    grid-column: 8 / span 3;
    justify-self: center;

    &__img {
      vertical-align: middle;
      height: var(--header-logo-height);

      transition: all 1s;
    }
  }

  &__nav {
    grid-column-end: content-end;
    justify-self: end;

    display: grid;
    grid-template-columns: repeat(2, min-content);
    gap: 4rem;

    @media only screen and (max-width: $bp-tablet-med) {
      display: none;
    }
  }

  &__mobNav {
    grid-column-end: content-end;
    justify-self: end;

    display: none;

    @media only screen and (max-width: $bp-tablet-med) {
      display: grid;
      grid-template-columns: repeat(2, min-content);
      gap: 4rem;
    }
  }

  // Classes for header upon scroll
  &--scroll {
    height: 10rem;
  }

  &__logo__img--scroll {
    height: 7.25rem;
  }

  // Classes for header when mobile sidepanel open
  &--panel {
    background-color: var(--header-background-panel);
  }
}
